<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::page})}">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
<div th:fragment="page">
    <h1>Produtos</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <a href="/web/produtos/novo"  class="btn btn-outline-success mb-3">Novo Produto</a>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Setor</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${produtos}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nome}"></td>
            <td th:text="${p.tipo}"></td>
            <td th:text="${p.setor}"></td>
            <td th:text="'R$ ' + ${p.preco}"></td>
            <td>
                <a th:href="@{/web/produtos/{id}(id=${p.id})}" class="btn btn-outline" style="width: 34px; height: 34px; padding: 0; display: inline-flex; align-items: center; justify-content: center; font-size: 18px;">
                    <i class="fa-regular fa-eye"></i>
                </a>
                <a th:href="@{/web/produtos/{id}/editar(id=${p.id})}" class="btn btn-outline" style="width: 34px; height: 34px; padding: 0; display: inline-flex; align-items: center; justify-content: center; font-size: 18px;">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <form th:action="@{/web/produtos/{id}/delete(id=${p.id})}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-outline" style="width: 34px; height: 34px; padding: 0; display: inline-flex; align-items: center; justify-content: center; font-size: 18px;" onclick="return confirm('Deletar?')">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>